<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="/styles.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
	<h1 id="name"></h1>

	<h2 id="cuteness"></h2>
	<h2 id="habitat"></h2>
	<h2 id="picture_url"></h2>
	<h2 id="description"></h2>

	<h1 id="name1"></h1>

	<h2 id="cuteness1"></h2>
	<h2 id="habitat1"></h2>
	<h2 id="picture_url1"></h2>
	<h2 id="description1"></h2>

	<h1 id="name2"></h1>

	<h2 id="cuteness2"></h2>
	<h2 id="habitat2"></h2>
	<h2 id="picture_url2"></h2>
	<h2 id="description2"></h2>

	<h1 id="name3"></h1>

	<h2 id="cuteness3"></h2>
	<h2 id="habitat3"></h2>
	<h2 id="picture_url3"></h2>
	<h2 id="description3"></h2>

	<h1 id="name4"></h1>

	<h2 id="cuteness4"></h2>
	<h2 id="habitat4"></h2>
	<h2 id="picture_url4"></h2>
	<h2 id="description4"></h2>
</body>
<script type="text/javascript" src="/app.js"></script>
</html>