<!DOCTYPE html>
<html>
<head>
	<title>furry (just go with it) friends.com</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
<body>
<h2> Welcome to furry* friends dot com. Choose a friend here:</h2>
<button class="kitty">Kitty</button>
<button class="puppy">Puppy</button>
<button class="turtle">Turtle</button>
<button class="squirrel">Squirrel</button>
<button class="tiny_bug">Tiny Bug</button>
<p class="tiny">* Some friends not furry</p>

<div class="img_holder"></div>
<h1 class="name_holder"></h1>
<h6 class="cuteness_holder"></h6>
<p class="habitat_holder"></p>
<p class="description_holder"></p>
<script type="text/javascript" src="/app.js"></script>
</body>
</html>